.weightLog {
    max-height: 20vh;
}
.weightLog th {
    position: sticky;
    top: 0;
    background-color: white;
}
.weightLog thead td {
    border-top-width: 0;
}

.text-nowrap {
    white-space: nowrap;
}