@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla-Regular.ttf");
}
@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

body {
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/gecko_background.png");
    background-size: 25%;
    font-family: Karla, sans-serif;
}

.fakeLink {
    background: none!important;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.href {
    color: #479cf7d3;
    text-decoration: underline;
}

.href:hover {
    color: #007bff;
}

.fakeLink:focus {
    outline: 0;
}

.page_outerWrapper {
    display: flex;
    justify-content: center;
}

.page_innerWrapper {
    width: 90%;
}

.page__navBar {
    background-color: rgba(255, 253, 248, 0.9);
    border: 1px solid #e9e9e9;
    border-bottom-width: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 1em;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.page_container {
    background-color: rgba(255, 253, 248, 0.9);
    border: 1px solid #e9e9e9;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 1em;
    margin: 0;
}

.card-header {
    background-color: #e9e9d270;
    font-size: 1.15em;
}

.modal-header {
    background-color: #e9e9d270;
    font-size: 1.15em;
}

/*Button adjustments*/

.btn.btn-primary {
    border-color: #f17539;
    background-color: #f17539;
}
.btn.btn-primary:hover {
    border-color: #da5f25;
    background-color: #da5f25;
}
.btn.btn-primary:active {
    border-color: #d2581e;
    background-color: #d2581e;
}
.btn.btn-primary:active {
    border-color: #d2581e !important;
    background-color: #d2581e !important;
}
.btn-primary:not(:disabled):not(.disabled).active {
    border-color: #d2581e !important;
    background-color: #d2581e !important;
}
.btn.btn-primary:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #d2581e !important;
    background-color: #d2581e !important;
}


.btn img {
    vertical-align: middle;
    margin-top:-1px;
    image-rendering: crisp-edges;
}

.btn.invert img {
    opacity: 0.5; 
}

.btn:hover img {
    animation: wiggle .6s 1;
}

.btn:hover.invert img {
    opacity: 1;
    filter: invert(100%);
}

.btn-sm img {
    position:relative;
    top:-1px;
    max-height:24px;
}

.btn-outline-secondary {
    border-color: rgb(206, 206, 206);
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   25% { transform: rotate(10deg); }
   50% { transform: rotate(-10deg); }
   75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

@media only screen and (max-width: 500px) {
    .page_innerWrapper {
        width: 100%;
    }
}