.geckoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.geckoCard {
    flex-basis: 25%;
    min-width: 250px;
    max-width: 300px;
    margin-bottom: 1em;
    cursor: pointer;
}

.geckoCard:hover {
    transform: scale(1.01);
}

.geckoCard__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.geckoCard__title {
    text-align: center;
    font-size: 1.5em;
}

.genderIcon {
    height:.8em;
    margin-top: -3px;
}

.geckoMorph {
    font-size: 1.05em;
    margin-top:-10px;
}

@media only screen and (max-width: 580px) {
    .geckoCard {
        flex-basis: 100%;
        min-width: auto;
        max-width: none;
    }
  }