@font-face {
    font-family: "Sniglet";
    src: url("../../fonts/Sniglet-ExtraBold.otf");
}

#navigation {
    border: solid 1px #FFBA91;
    background-color: #ffd087;
    background-image: url(../../images/nav_background.png);
    color: #4a483c;
    
}

.navLogo {
    font-family: Sniglet, sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
    padding: .15em .4em .15em .4em;
}

.navLink {
    border: 1px solid #e6ac61;
    border-top-width: 0;
    border-bottom-width: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.05em;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding: 1em;
}

.navLink:hover {
    background-color: rgb(250, 225, 82);
}

.navLink:active {
    background-color: rgb(240, 164, 71);
}

.navLink.currentPage {
    background-color: rgb(240, 164, 71);
}