#navigation {
    border: solid 1px #e6ac61;
    background-color: #e9c391;
    color: #3b3720;
    padding: .5em;
}

.navLink {
    border: solid 1px #e6ac61;
    background-color: #e9c391;
    cursor: pointer;
    margin-left: 1em;
    padding:.5em;
    border-radius: 4px;
    vertical-align: middle;
}

.navLink:hover {
    background-color: #e6ac61;
}

.navLink:active {
    background-color: #d48c2c;
}