input {
    width: 100%;
    background-color: rgba(243, 243, 243, 0.5) !important;
}

.authForm {
    margin: 1em;
    background-color: rgba(255, 253, 248, 0.95);
    max-width:500px;
    min-width:300px;
}